@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
  font-family: 'Mitr', sans-serif;
  justify-content: center;
}

.pages{
  min-height: 100vh;
  justify-content: center;
  text-align: center;
}

.App {
  text-align: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(193,181,218,1) 65%, rgba(148,187,233,1) 100%);
  background-size: cover;
}

h1{
  font-family: 'Pacifico', cursive;
}
.search-form,.Card{
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.search-form{
  border-radius: 1rem !important;
}

.Title{
  font-family: 'Pacifico', cursive;
  font-size: 42px !important;
}

.Carousel{
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3rem !important;
  color: #fff !important;
}
img{
  border-radius: 3rem !important;
}

.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
}

.sub-main{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 8px 6px 15px 1px rgb(207, 207, 207);
  border-radius: 60px;
  background-color: #fff;
}

.imgs{
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.container-image{
  background-color: rgb(221, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  height: 115px;
  width: 115px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.profile{
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

input{
  width: 300px;
  height: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(178, 178, 178, 0.533);
  border: 1px solid rgb(120, 120, 120);
  outline: none;
  background-color: rgb(221, 221, 221, 0.1);
  color:rgb(47, 46, 46);
  font-family: 'Roboto Mono', monospace;
}

.email, .password{
  height: 25px;
  width: 25px;
  position: absolute;
  padding:  14px 0 0 25px;
}

.name{
  padding-left: 70px;
  font-size: 20px;
}

.second-input{
  padding-top: 20px;
}

.btn-login{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 50px !important;
  background-color: #c458f3;
  color: #fff;
  font-size: 18px;
  margin-top: 20px !important;
  box-shadow: 5px 4px 5px 3px rgb(207, 207, 207);
  transition: transform 500ms ease;
}

.btn-login:hover{
  transform: scale(1.02);
}

.first-meet{
  font-family: 'Lobster', cursive;
  font-size: 36px;
}

.stocks-item{
  border-radius: 30px !important;
  box-shadow: 0px 0px 25px 0px rgba(198, 198, 198, 0.533);
  transition: transform 500ms ease;
}

.stocks-item:hover{
  transform: scale(1.02);
}

.Stocks{
  margin-top: 5rem !important;
}

a{
  text-decoration: none !important;
}

.Detail-container{
  width: 1200px;
  height: 600px;
  background-color: #FFF;
  margin: auto;
  padding: 50px;
  justify-content: center;
  margin-top: 3rem;
}


.Detail-img{
  height: 500px;
  width: 500px;
  border: 1px solid #312d31;
}

.text-detail{
  margin-left: 2rem;
  margin-bottom: 2rem;
}
